<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title  class="title">Empresa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <section class="call">
    <h2 class="last_call">ULTIMO LLAMADO</h2>
  <div *ngFor="let numactual of numActuales" class="container1">
    <div *ngIf="numactual.ultimo === 'si'">
    <h1 class="number1">{{numactual.numero}}</h1>
    <h3 class="text1">{{numactual.area}}</h3>
  </div>
</div>



</section>
  <section class="areas">
  <div *ngFor="let numactual of numActuales"  class="container2">
      <div class="box"><h2 class="number2">{{numactual.numero}}</h2><h2 class="text2">{{numactual.area}}</h2></div>
      </div>
      </section>
      </ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-title class="footer-tittle">&copy;Copyright Empresa. </ion-title>
  </ion-toolbar>
</ion-footer>