<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title  class="title">Empresa</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="content">
    <section class="call">
     <h1 class="division-work">PUESTO 5</h1>
     <h3 class="user">Usuario: Pedro</h3>
     <h5 class="next-call">Llamada al proximo numero</h5>
      </section>
      <section class="box-number">
      <div class="container2">
      <div class="box-container"><ion-button class="box"><h2 class="number1">26</h2><h2 class="text1">Cuentas corrientes</h2><ion-button class="btn"color="success">Atras</ion-button></ion-button></div>
      <div class="box-container"><ion-button class="box"><h2 class="number1">64</h2><h2 class="text1">Presupuestos</h2><ion-button class="btn"color="success">Atras</ion-button></ion-button></div>
      <div class="box"><h2 class="number1">63</h2><h2 class="text1">Ventas</h2></div>
      </div>
      </section>
</ion-content>

