<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title  class="title">Empresa</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="content">
    <section class="call">
      <a routerLink="/monitor">Monitor</a>
      <h1 class="division-work">PUESTO 5</h1>
      <h3 class="user">Usuario: Juan Romero</h3>
      <h5 class="next-call">Llamada al proximo numero</h5>
      </section>
      <section class="box-number">
      <div class="container2">
      <div *ngFor="let number of numUserfalse.areas" class="box-container">
        <ion-button class="box" shape="round">
          <h2 class="number1">{{number.numero}}</h2>
          <h2 class="text1">{{nombreAreas(number.areaid)}}</h2>
        </ion-button>
        <ion-button class="btn"color="success" shape="round">Atras</ion-button>
      </div>
      <div class="box-conteiner-one">
      <span>Atendiendo: </span>
      <div class="box-one">
        <h2 class="number1">{{atendiendo.numero}}</h2>
        <h2 class="text1">{{nombreAreas(atendiendo.areaid)}}</h2>
      </div>
        </div>
          </div>
      </section>
</ion-content>
