<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title  class="title">Empresa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
 <section class="areas">
   <h2 class="assigned-number-mobile">Su numero es :</h2>
    <h3 class="date-mobile">09/10/2022 15:22 PM </h3> 
<div class="container2">
<div class="box-mobile"><h2 class="number2">{{celularNum.numero}}</h2>
  <h2 class="text2">{{nombreAreas.nombre}}</h2>
</div> 
</div>
  <h3 class="date-mobile">Tiene {{celularNum.numerosantes}} numeros antes</h3>
    <h3 class="date-mobile">Tiempo estimado: {{celularNum.Tiempoestmado}}</h3>
  </section>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-title class="footer-tittle">&copy;Copyright Empresa. </ion-title>
  </ion-toolbar>
</ion-footer>
