<ion-header>
  <ion-toolbar>
    <ion-title>Cliente </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tittle-one">
    <h1>Empresa SA</h1>
    <br/>
    <h2>Solicite su numero: </h2>
  </div>
  <section id="btn">
      <div  *ngFor=" let areasactuales of areasActuales" class="btn-input">
        <ion-button routerLink="/celular/{{areasactuales.id}}" (click)="areaObtener(areasactuales.id)" class="btn-login" expand="block"color="primary"
        shape="round">{{areasactuales.nombre}}</ion-button>
      </div>
  </section>
  <div class="code-qr">
    <img src="assets/image/qr-code.png">
    <h3>Obtenga su numero desde el celular </h3>
  </div>

</ion-content>

