<ion-header>
  <ion-toolbar>
    <ion-title>Cliente </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="tittle-one">
    <h1>Empresa SA</h1>
    <br/>
    <h2>Solicite su numero: </h2>
  </div>
  <section id="btn">
      <div class="btn-input">
        <ion-button  class="btn-login" expand="block"color="primary"
        shape="round">Cuenta Corriente </ion-button>
      </div>
      <div class="btn-input">
        <ion-button  class="btn-login" expand="block"color="primary"
        shape="round">Presupuesto</ion-button>
      </div>
      <div class="btn-input">
        <ion-button  class="btn-login" expand="block"color="primary"
        shape="round">Ventas</ion-button>
      </div>
  </section>
  <div class="code-qr">
    <img src="assets/image/qr-code.png">
    <h3>Obtenga su numero desde el celular </h3>
  </div>

</ion-content>

