


ion-content{
  --background: black;
}
ion-card{
  height: 340px;
  width: 300px;;
  border-radius: 24px;
  box-shadow: 0px 0px 15px 0.8px black;
}
ion-card-title{
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}
#header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header h1{
  font-size: 29px;
  font-weight: bold;
  padding-bottom: 30px;
  margin: 0px;
  font-family: monospace;
  color: #428cff;
}
#header .btn-login{
  color: white;
  font-weight: bold;
  margin-top: 20%;
  font-size: 13px; 
}
#header .icon-login{
  font-size: 100px;
  padding-bottom: 20px;
  color: #428cff;
  width: 100px;
}
#header .icon-login1{
  padding-right: 5px;
  color: rgb(44, 107, 196);
}

